@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Poppins-Bold";
  src: url("../public/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

html,
body {
  padding: 0.5em 0;
  margin: 0;
  background-color: #f1f5f9;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  font-family: "Poppins-Regular";
  display: flex;
  justify-content: center;
}

.contain div {
  width: 100%;
  padding: 2em 4em;
  text-align: center;
  margin: 0.5em 1em;
  /* overflow: scroll; */
  /* border: 1px solid black; */
}

.title {
  font-size: 2.5em;
}

.txt {
  font-family: "Poppins-Bold";
  color: #3a3636;
}

.disclaimer {
  font-size: small;
  color: #6b7280;
}

input {
  background-color: #f1f1f1;
  font-size: medium;
  width: 20em;
  padding: 0.5em 1em;
  border-radius: 5em;
  /* border: 1px solid black; */
}

/* grid */
.contain {
  max-width: fit-content;
  max-height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  /* border: 1px solid black; */
}

.box1 {
  grid-column: 1/4;
  grid-row: 1/2;
  font-family: "Poppins-Medium";
  background-image: linear-gradient(to right, #2563eb, #7b3eea, #9333ea);
}
.box2 {
  grid-column: 4/7;
  grid-row: 1/2;
}

.box3 {
  grid-column: 1/4;
  grid-row: 2/5;
}
.box4 {
  grid-column: 4/7;
  grid-row: 2/4;
}
.box5 {
  grid-column: 4/7;
  grid-row: 4/5;
}

.box6 {
  grid-column: 1/4;
  grid-row: 5/7;
}
.box7 {
  grid-column: 1/4;
  grid-row: 7/8;
}
.box8 {
  grid-column: 4/7;
  grid-row: 5/8;
}

/* button shine effect automatic */
